@import "../../helpers/global-color.scss";

#button {
  &__state-gohome {
    border: 4px solid $color__white;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 5px;
    width: 239px;
    height: 55px;
    font-weight: 600;
    font-size: 20px;
    color: $color__white;
    background-color: $color--light-black;
    cursor: pointer;
    &:hover {
      background-color: $color__white;
      color: $color--light-black;
    }
  }
  &__state-contact {
    border: 4px solid $color__darker-blue;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 5px;
    width: 239px;
    height: 55px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      background-color: $color__darker-blue;
      color: $color__white;
    }
  }
}
