$color--darker-blue: #0d102d;
$color--lighter-blue: #3e4054;
$color--white: #fff;
$color--light-black: rgba(29, 24, 24, 1);
$color--black: #1a1919;
$color--lighter-gray: #f7f9f7;
$color--semi-lighter-gray: #c4c4c4;
$color--black-lighter: rgba(36, 45, 52, 0.5);
$color--black-super-lighter: rgba(0, 0, 0, 0.16);
$colo--bg-color: #e5e5e5;
